:host {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

svg.main {
  position: absolute;
  transform: rotateX(-180deg);
  width: 100%;
  height: 100%;
  z-index: 5;

  path {
    stroke-width: 2;
    stroke: blue;
    fill: blue;
  }
}

.grid-line {
  height: 1px;
  z-index: 2;

  line {
    stroke: rgba(155,155,155,0.4);
    stroke-dasharray: 4 7;
    stroke-width: 1;
  }
}
